q1

In [1]:
a=['rohan',[1,2,4],4.56,(56,66,'pw')]

In [2]:
a

['rohan', [1, 2, 4], 4.56, (56, 66, 'pw')]

q2

In [3]:
var1=''

In [4]:
print(type(var1))

<class 'str'>

In [5]:
var2='[DS,ML,PYTHON]'

In [6]:
print(type(var2))

<class 'str'>

In [7]:
var3=['DS','ML','PYTHON']

In [8]:
print(type(var3))

<class 'list'>

In [9]:
var4=1

In [10]:
print(type(var4))

<class 'int'>

q3

In [11]:
4/2

2.0

In [12]:
#this is used to divide any value by other value

In [13]:
10%5

0

In [14]:
#thi8s operator tells us about the remainder remains after division

In [15]:
10//2

5

In [16]:
#it is used in floor division

In [17]:
10**5

100000

In [18]:
#this operator tells us about the power of 10 when it is raised to 5 times

q4

In [19]:
l=[1,2,5,6,7,'rohan',5.67,(45,454,476),4.65,[23,45]]

In [22]:
for i in l :
    print(i)
    print(type(i))

1
<class 'int'>
2
<class 'int'>
5
<class 'int'>
6
<class 'int'>
7
<class 'int'>
rohan
<class 'str'>
5.67
<class 'float'>
(45, 454, 476)
<class 'tuple'>
4.65
<class 'float'>
[23, 45]
<class 'list'>

In [30]:
a=12
b=4
count=0
while a%b==0:
    a=a/b
    count +=1
if count>0 :
    print("a is divisible by", count)
else:
    print('a is not divisible by b')

a is divisible by 1

q6

In [31]:
numbers = [2,3,4,5,6,7,8,9,23,4,5,5,6,6,76,7,8,8,8,12,24,54,4,6,78]
for num in numbers:
    if num % 3 ==0 :
        print(num, "is divisible by 3")
    else:
        print(num, "is not divisble by 3")

2 is not divisble by 3
3 is divisible by 3
4 is not divisble by 3
5 is not divisble by 3
6 is divisible by 3
7 is not divisble by 3
8 is not divisble by 3
9 is divisible by 3
23 is not divisble by 3
4 is not divisble by 3
5 is not divisble by 3
5 is not divisble by 3
6 is divisible by 3
6 is divisible by 3
76 is not divisble by 3
7 is not divisble by 3
8 is not divisble by 3
8 is not divisble by 3
8 is not divisble by 3
12 is divisible by 3
24 is divisible by 3
54 is divisible by 3
4 is not divisble by 3
6 is divisible by 3
78 is divisible by 3

q7

immutbale data types objects are those values cannot be changed after they are created. any operations performed on immutable 
object creates a new object creates a new object with the modified value, leaving the original object unchanged. ex int, str, float
tuples.


mutable data types are those values can be modified after they are created. changes made to a mutable object after the
object itself and no new object is created ex of mutable data types include lists, dictionaries, and sets.